<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1>Intentemos Ahora</h1>
	<form action="/partida" method="post">
		<input type="text" name="probarvalor">
		<input align="CENTER" type="submit" value="probar">

	</form>
	<h2><%= session['resultado'] %></h2>
</body>
</html>