<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1 style="color:red; " align="CENTER">Intentemos Ahora</h1>
	<form action="/partida" method="post">
		<input type="number" name="probarvalor" size="3" max="0-999">
		<input type="submit" value="probar">
	</form>
	<h2><%= session['resultado'] %></h2>
</body>
</html>